.carousell {
  display: flex;
  position: relative;
  width: clamp(50%, 600px, 100%);
  height: 650px;
  margin: auto;
  align-items: center;
  justify-content: center;
  
}
.carousell-slide {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: translateX(0);
  pointer-events: none;
}
.carousell-image {
  display: block;
  margin: 0 auto;
  height: 300px;
  padding: 20px;
  aspect-ratio: 1/1;
  user-select: none;
  border-radius: 2px;
}
.carousell-caption{
  width: 80%;
  margin: 0 auto;
  font-style: italic;
  user-select: none;
}
.carousell-alumni-name {
  position: relative;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  width: 100%;
  margin: 0;
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
}
.carousell-btn {
  position: absolute;
  display: flex;
  top: 155px;
  transform: translateY(-50%) scaleX(0.7) scaleY(1.4);
  background: rgba(0, 0, 0, 0);
  color: var(--color-5-darker);
  border: none;
  font-size: 4em;
  height: 50px;
  z-index: 5;
  user-select: none;
  transition: all 0.2s ease-in-out;

}
.carousell-btn:hover {
  color: var(--color-4-dark);
  background-color: transparent;
  box-shadow: none;
}
.carousell-btn:first-of-type { left: 10px; }
.carousell-btn:last-of-type { right: 10px; }

/** ANIMATION */
.carousell-slide.active {
  opacity: 1;
  z-index: 2;
}

/* When the carousell signals "next" */
.carousell-slide[data-carousell-signal="next"] {
  animation: carousellNext 500ms;
}

/* When the carousell signals "previous" */
.carousell-slide[data-carousell-signal="previous"] {
  animation: carousellPrev 500ms;
}

/* Outgoing slide when moving next */
.carousell-slide[data-carousell-signal="exit-next"] {
  animation: carousellExitNext 500ms;
  z-index: 1;
  opacity: 1;
  pointer-events: none;
}
/* Outgoing slide when moving previous */
.carousell-slide[data-carousell-signal="exit-prev"] {
  animation: carousellExitPrev 500ms;
  z-index: 1;
  opacity: 1;
  pointer-events: none;
}

@keyframes carousellNext {
  0% {
	filter: grayscale(1);
	opacity: 0;
	transform: translateX(500px);
	scale: 0.5;
	filter: contrast(0.25) blur(6px);
	color: rgba(0, 0, 0, 0.5);
  }
  25% {
	opacity: 0.5;
  }
  50% {
  }
  75% {
	filter: none;
	scale: 1;
  }
  100% {
	opacity: 1;
	transform: translateX(0);
	filter: none;
	scale: 1;
  }
}

@keyframes carousellPrev {
  0% {
	filter: grayscale(1);
	opacity: 0;
	transform: translateX(-500px);
	scale: 0.5;
	filter: contrast(0.25) blur(6px);
	color: rgba(0, 0, 0, 0.5);
  }
  25% {
	opacity: 0.5;
  }
  50% {
  }
  75% {
	filter: none;
	scale: 1;
  }
  100% {
	opacity: 1;
	transform: translateX(0);
	filter: none;
	scale: 1;
  }
}

@keyframes carousellExitNext {
  0% {
	opacity: 1;
	transform: translateX(0);
  }
  25% {
	opacity: 0.5;
  }
  50% {
	color: rgba(0, 0, 0, 0.5);
  }
  75% {
  filter: contrast(0.25) blur(6px);
  scale: 0.5;
  }
  100% {
	filter: grayscale(1);
	opacity: 0;
	transform: translateX(-500px);
  }
}

@keyframes carousellExitPrev {
  0% {
	opacity: 1;
	transform: translateX(0);
  }
  25% {
	opacity: 0.5;
  }
  50% {
	color: rgba(0, 0, 0, 0.5);
  }
  75% {
  filter: contrast(0.25) blur(6px);
  scale: 0.5;
  }
  100% {
	filter: grayscale(1);
	opacity: 0;
	transform: translateX(500px);
  }
}
