:root {
    --color-1-lightest: #E7EFF4;
    --color-2-light:    #8AB2CA;
    --color-3-medium:   #5382A0;
    --color-4-dark:     #295875;
    --color-5-darker:   #0E334B;
    --color-6-darkest:  #012033;
}
*{ /* Fjern standard formatering */
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: 'Saira';
	src: url('fonts/Saira-VariableFont_wdth,wght.ttf') format('truetype');
}
button:hover {
	cursor: pointer;
}
.titlebox {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: larger;
	background-color: var(--color-3-medium);
	border-radius: 15px;
	box-shadow: 
		0 -5px 4px 0 var(--color-5-darker) inset, /* bottom inner shadow */
		0 5px 4px 0 var(--color-2-light) inset;   /* top inner shadow */
	padding: 10px;
	width: 80%;
	margin: 0 auto;
	height: 90px;
	position: relative;
}
.titlebox h1 {
	font-family: 'Saira', sans-serif;
	color: white;
	text-transform: uppercase;
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	pointer-events: none;
}
.titlebox img {
	height: 110%;
	margin-left: auto;
	position: relative;
}

/** WEBSITE SECTIONS **/
.section_container {
	display: grid;
	padding-top: 20px;
	padding-bottom: 10px;
}
#becoming_a_game_producer_container{
	background-color: var(--color-1-lightest);

}
#who_is_it_for_container{
	background-color: var(--color-4-dark);

}
#the_program_container{
	background-color: var(--color-1-lightest);

}
#whos_behind_the_course_container{
	background-color: var(--color-4-dark);

}
#reviews_from_alumni_container{
	background-color: var(--color-1-lightest);

}
#practical_information_pricing_container{
	background-color: var(--color-4-dark);

}
#enrollment_container {
	background-color: var(--color-1-lightest);

}
#enrollment_form {
	display: grid;
	width: 70%;
	padding: 10px;
	margin: 0 auto;
	text-align: center;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	padding-top: 70px;
}
#enrollment_form > * {
	border-radius: 15px;
	border: var(--color-3-medium) 4px solid;
}
#enrollment_form > :nth-child(4) { /* message box get full width */
	grid-column: 1 / 4;
	padding: 10px;

}
#enrollment_form > :nth-child(-n+3) { /* first three elements get full height */
	height: 40px;
	padding: 10px;
}
#button_1 { 
	height: 40px;
	font-size: large;
	font-weight: bold;
	width: 90px;
		background-color: var(--color-3-medium);
	border-radius: 15px;
	box-shadow: 
		0 -5px 4px 0 var(--color-5-darker) inset, /* bottom inner shadow */
		0 5px 4px 0 var(--color-2-light) inset;   /* top inner shadow */
	color: white;
	border: none;
}
